/* media_query header-nav*/
@media screen and (max-width: 580px) {
    #header-nav {
        height: 350px;
        padding: 20px 10px !important;
    }

    #header-nav a {
        float: none;
        display: block;
        text-align: left;
    }

    #navbar-right {
        float: left;
    }
}

/* catering*/
@media only screen and (max-width: 580px) {
    #container_catering {
        grid-column: 1;
        grid-template-rows: 0.5fr;
        display: block;
    }
}
/*menu*/
@media screen and (max-width: 580px) {


    #container_menu {
        grid-column: 1;
        display: block;
    main.menu{
        display: block;
    }
     .cards{
    display: flex;
    card{
        width: auto;
    }
     }
 
        .menu-cards {
            display: block;
            width: auto;
        }

        .menu-wrapper {
            display: block;
            width: auto;
        }
    }
    .menu-card {
        width: 70%;
    }
    .welcome p {
        width: auto;
    }
}


@media (max-width: 580px) {

    /* Estilos para la sección de comidas */
    .comidas {
        width: 70%;
    }

    .comidas article li {
        font-size: 16px;
    }

    /* Estilos para la sección de vinos */
    .vinos article li {
        font-size: 14px;
    }

    /* Estilos para la sección de postres */
    .postres li {
        font-size: 16px;
    }

}
/*index*/

@media only screen and (max-width: 750px) {
    #container {
        grid-column: 1;
        display: block;
    }

    .main {
        width: auto;
    }

    .clase-de-vinos {
        width: auto;
    }

    .clases-de-carnes {
        width: auto;
        height: 900px;

        .foto_bondiola img {
            float: right;
            width: 250px;
        }
    }

    .biografia-del-chef {
        display: none;
    }

    .video-chef {
        display: none;
    }

    .aside-publicidad {
        display: none;
    }

    .pie img {
        height: 40px;
    }
}

/*footer*/
@media screen and (min-width: 24.375em) {

    .legal .legal__links {
        margin-left: auto;
    }


}

@media screen and (min-width: 40.375em) {


    .footer__nav>* {

        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}

/*empresa*/
@media screen and (max-width: 580px) {
    #container_empresa {
        grid-column: 1;
        display: block;
        justify-items: center;

        main.empresa {
            width: 100%;
            display: block;

            h3 {
                grid-column-end: 2;
                grid-row-end: 1;
                font-size: 30px;
            }

            h3:hover {
                color: black;
            }

            .img_logo img {
                margin-top: 20px;
                display: block;
                width: 300px;
            }

            .cartas_franquicias {
                margin-left: 60px;
                grid-column-end: 2;
                display: block;
            }

            .container_gold .box {
                width: 100px;
            }
        }
    }

}

/*sobre_nosotros*/
@media screen and (max-width: 780px) {
    #container_nosotros main.nosotros {
        display: block;

        img {
            display: block;
            height: auto;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 15px;
        }

        .content {
            width: auto;
        }
    }
}